/* Chapter-03-Challange-03-Mohamad-Nurizki */
/* Nim:1930511058 */

body {
  font-family: Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #000000;
}

.main {
  background-color: #f1f3ff;
}

.nav-item:not(:last-child) {
  padding-right: 2rem;
}

.nav-link {
  color: #000000;
}

#offcanvasNavbar {
  width: 250px;
}

.btn {
  border: 0;
  border-radius: 2px;
  padding: 8px 12px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 20px;
}

.btn-success {
  background-color: #5cb85f;
}

.jumbotron p,
.service p {
  text-align: justify;
}

.car-img {
  position: relative;
}

.car-accent {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  border-radius: 60px 0 0 0;
  background-color: #0d28a6;
}

.icon {
  width: 32px;
  margin-bottom: 16px;
}

.card-title {
  font-weight: 700;
  line-height: 24px;
}

.testi-card {
  background: #f1fff6;
}

.gt-card {
  background: #0d28a6;
  color: #ffffff;
  text-align: center;
  border-radius: 13px;
}

.footer .nav-link {
  padding-top: 0;
}

.carousel-control-next,
.carousel-control-prev {
  position: relative;
  border-radius: 100%;
  display: inline;
  width: 32px;
  height: 32px;
  border: 1px solid #5cb85f;
}

.carousel-control-next > svg,
.carousel-control-prev > svg {
  display: block;
  margin-inline: auto;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: #5cb85f;
  border: none;
}

.carousel-control-next:hover > svg > path,
.carousel-control-prev:hover > svg > path {
  stroke: #ffffff;
}

.carousel-item > .card {
  margin-inline: 12px;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }

  .jumbotron {
    margin-left: 5%;
  }

  .carousel-item > .card {
    width: 75%;
    margin-inline: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 80%;
  }

  .jumbotron {
    margin-left: 10%;
  }

  .jumbotron p,
  .service p {
    text-align: left;
    width: 75%;
  }

  .carousel-item > .card {
    width: 50%;
    margin-inline: auto;
  }

  .testi-card {
    padding-block: 4rem;
    padding-inline: 2rem;
  }
}
